/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    img {
        margin-top: 70%;
        margin-bottom: 80%;
        width: 70%;
      }

    p {
        font-size: 180%;
      }

    .finalNote {
        font-size: 100%;
        padding-left: 10%;
        padding-right: 10%;
    }

    #fullLogoBottom {
        width: 45%;
        margin-bottom: -25%;
      }

    a, i {
        font-size: 150%;          
        margin-right: 20px;          
        margin-left: 20px;
        margin-top: 10%;
        margin-bottom: 20%;
    }

    input {
        width: 90%;
    }

    /*Issues separating button and input*/
    button {
        margin-top: 100px;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    img {
        margin-top: 60%;
        margin-bottom: 80%;
        width: 70%;
      }

    p {
        font-size: 200%;
      }

    .finalNote {
        font-size: 90%;
        padding-left: 10%;
        padding-right: 10%;
    }

    a, i {
        font-size: 150%;
        margin-right: 20px;          
        margin-left: 20px;
        margin-top: 10%;
        margin-bottom: 20%;
    }

    input {
        width: 100%;
    }

    #fullLogoBottom {
        width: 40%;
        margin-bottom: -25%;
      }

    /*Issues separating button and input*/
    button {
        margin-top: 100px;
    }
   

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    img {
        margin-top: 55%;
        margin-bottom: 60%;
        width: 50%; 
    } 
    
    #fullLogoBottom {
        width: 40%;
        margin-bottom: -20%;
      }

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    input {
        width: 50%;
    }

    img {
        margin-top: 25%;
        margin-bottom: 28%;
        width: 40%; 
    }

    #fullLogoBottom {
        width: 30%;
        margin-bottom: -10%;
      }
   

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    input {
        width: 50%;
    }

    p {
        font-size: 300%;

    }

    img {
        margin-top: 25%;
        margin-bottom: 28%;
        width: 50%; 
    }

    #fullLogoBottom {
        width: 30%;
        margin-bottom: -10%;
      }


    .finalNote {
        font-size: 90%;
        padding-left: 10%;
        padding-right: 10%;
    }

}