* {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;

  background: #119D86;
  background-repeat: no-repeat;
  
}

 /*
body {
  background: linear-gradient(140deg, #DD0C8B, #E52127, #F15B22, #FDD31C);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: #119D86;
}
 */

#mc_embed_signup {
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
  width: 100%;
}

div h1 {
  text-align: center;
  padding: 30px;
}

div p {
  text-align: center;
  font-size: 150%;
  padding-top: 2%;
  padding-left: 20%;
  padding-right: 20%;
}

div input {
  display: block;
  text-align: center;
  margin: auto;
  width: 100%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-top: 27%;
  margin-bottom: 35%;
}

button {
  border-radius: 0px;
  border: none;

}

.form-control {
  margin: 0 auto;
  float: none;
  padding: 5%;
  margin-bottom: 2%;
  width: 100%;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
	border: 0;
	outline: 0;
}

div button {
  margin-bottom: 20%;
}