* {
  /*font-family: 'Raleway', sans-serif;*/
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
  letter-spacing: 1.5px;
  background: #FEE781;
  /*Subtly different from Catherine's color choice */
}

html {
  margin: 0;
  height: 100%;
  width: 100%;
}

/*Styling for Form elements*/

.form {
  margin-top: 5%;
}

input {
  text-align: center;
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border: #000000;
  border-radius: 20px;
  background: white;
}

button {
  display: inline-block;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 400;
  border: none;
  width: auto;
  padding: 1%;
  margin-top: 20%;
}

button:hover {
  transition: all 0.5s ease-out;
  background: blue;
  color: bisque;
  border-radius: 20px;
}

/*Logo and text styling*/

img {
  margin-top: 25%;
  margin-bottom: 35%;
  width: 40%;
}

#fullLogoBottom {
  width: 20%;
  margin-bottom: -10%;
}

p {
  text-align: center;
  font-size: 400%;
  padding-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
  color: #000000;
}

.finalNote {
  text-align: center;
  font-size: 90%;
  padding-top: 5%;
  padding-left: 30%;
  padding-right: 30%;
  color: #000000;
}

a:hover,
a:visited,
a:link {
  text-decoration: none;
  text-anchor: none;
}

a,
i {
  font-size: 200%;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 20%;
  color: black;
}


.fa-twitter:hover {
  color: #00aced;
  transition: 0.5s;
}

.fa-instagram:hover {
  color: #bc2a8d;
  transition: 0.5s;
}

.fa-spotify:hover {
  color: #1db954;
  transition: 0.5s;
}

*:focus {
  outline: none;
}

/*

body {
  background: linear-gradient(140deg, #DD0C8B, #E52127, #F15B22, #FDD31C);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: #119D86;
}
*/